body {
    margin: 0;
}
#header {
    height: 100px;
    background-color: black;
}

#toolbox {
    height: 20px;
    background-color: #f1f1f1;
    padding: 20px 0;
}

#program-list {
    margin-top: 40px;
    margin-left: 50px;
}

#title {
    display: inline-block;
    color: white;
    margin-left: 300px;
    font-size: 30px;
}

#run {
    margin-left: 300px;
}
